<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddNewNoteDialogActivity"
            android:excludeFromRecents="true"
            android:label="Add new notes"
            android:theme="@style/RoundedActivityStyle" />
        <activity android:name=".PastTripsDetails" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="Incoming Trips" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotesDialogActivity"
            android:excludeFromRecents="true"
            android:label="Your Notes"
            android:theme="@style/RoundedActivityStyle" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity android:name=".PastTripsActivity" />
        <activity android:name=".MapsActivity" />
        <activity
            android:name=".AddTripActivity"
            android:label="Add a new trip" />
        <activity
            android:name=".RoundedTripActivity"
            android:excludeFromRecents="true"
            android:label="Rounded Trip"
            android:theme="@style/RoundedActivityStyle" />
        <activity
            android:name=".ViewDialog"
            android:excludeFromRecents="true"
            android:label="Your Trip "
            android:showOnLockScreen="true"
            android:theme="@style/RoundedActivityStyle" />
        <activity android:name=".TripDetails" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <service android:name=".NotesHeadService" />
    </application>

</manifest>