<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Incoming Trips" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotesDialogActivity"
            android:theme="@style/RoundedActivityStyle"
            android:excludeFromRecents="true"
            android:label="Your Notes"/>
        <activity
            android:name=".AddTripActivity"
            android:label="Add a new trip" />
        <activity
            android:name=".RoundedTripActivity"
            android:excludeFromRecents="true"
            android:label="Rounded Trip"
            android:theme="@style/RoundedActivityStyle" />
        <activity
            android:name=".ViewDialog"
            android:excludeFromRecents="true"
            android:label="Your Trip "
            android:showOnLockScreen="true"
            android:theme="@style/RoundedActivityStyle" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <service android:name=".NotesHeadService"/>
    </application>

</manifest>